body{
    background: linear-gradient(45deg, #0d255e, #bb1b1b);
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.navBar{
    display: flex;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: #fff;
    height: 110vh;
    position: relative;
    padding: 2rem;
}

.bildeBox{
    width: 350px;
    position: relative;
}

.bildeBox > img{
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.tall{
    position: absolute;
    z-index: 0;
    font-size: 12rem;
    color: #444;
}

.textBox{
    position: relative;
    max-width: 600px;
}

.tittel > span{
    position: relative;
    z-index: 1;
    display: block;
    font-size: 3rem;
}

.textBox > p{
    text-align: justify;
    z-index: 1;
    font-size: 1.2rem;
    position: relative;
    line-height: 1.5;

}