body{
    background: linear-gradient(45deg, #0d255e, #bb1b1b);
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.navBar{
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 110vh;
    position: relative;
}

.bildeBox{
    height: 300px;
    width: 300px;
    object-fit: contain;
}

.tall{
    position: absolute;
    z-index: 0;
    font-size: 8rem;
    color: #444;
}

.textBox{
    position: relative;
}

.textBox > span{
    position: relative;
    z-index: 1;
    line-height: 1.4;
}

.textBox > p{
    text-align: justify;
    z-index: 1.3;

}