body{
    background: linear-gradient(45deg, #0d255e, #bb1b1b);
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.navbar{
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 110vh;
}

.container > div > img{
    height: 300px;
    width: 300px;
}

.container > div > h1{
    font-size: xx-large;
}

.container > div > h2{
    font-size: 8rem;
}

.container > div > p{
    max-width: 30vw;
    text-align: justify;
    line-height: 1.25;
    font-size: medium;
}